*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    margin: auto;
    width: 540px;
    height: 355px;
    border: 1px solid #5FBF87;
    display: grid;
    grid-template-rows: 30px auto;   
    border-radius: 3px; 
}
#content{
    margin: auto;
}
#relogio, #cronometro,#regressivo{
    display: flex;
    font-size: 40px;
    user-select: none;
}
#inputs{
    display: flex;
    font-size: 14px;
    margin-bottom: 5px;
}
#buttons{
    display: flex;
    justify-content: space-around;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #FFF;
    font-family: 'Nunito';
}
ul{
    width: 100%;
    align-items: center;
    background-color: #000;
    height: 35px;
    display:grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}
li {
    list-style: none;
    border-bottom: 3px solid #303030;
    background-color: #303030;
    height: 35px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
li:hover{
    /* box-shadow: 1px 1px 3px black; */
    border-bottom-color:#ccc;
}
li:first-child,li:last-child{
    border-left: none;
    border-right: none;
}
.clicked{
    background-color: #000;
    border-bottom-color:red !important;
}
li{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    border: 1px solid #5FBF87;
    background-color: #27ae5f2c;
    padding: 2px 5px;
    border-radius: 2px;
    cursor: pointer;
    width: calc(100% / 3);
    min-width: max-content;
    font-size: 15px;
    font-family: 'Nunito';
    user-select: none;
}
button:focus{
    outline: none;
}
input{
    width: 30px;
    text-align: center;
    appearance: text;
}
input::-webkit-inner-spin-button {
    display: none;
  }